@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&family=Heebo:wght@400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #E5EEFF;
}

img {
    width: 300px;
    height: 300px;
    margin-bottom: 15px;
}

.stop {
    margin-top: 250px;
    height: auto;
    width: 100vw;
}

.heading {
    background-color: #020253;
    height: 615px;
    width: 625px;
    margin-bottom: 15px;
    margin-left: 15px;
}


h1,
h2,
p {
    direction: rtl;
    font-family: Heebo;
    text-align: center;
}

h1 {
    color: #0EE1DA;
    font-weight: 800;
    font-size: 40px;
}

p {
    color: white;
    font-size: 18px;
    padding: 0 50px;
}


.smiddle {
    margin-top: 5px;
    height: auto;
    width: 100vw;
}

.sbottom {
    height: auto;
    width: 100vw;
}

h2 {
    color: white;
    font-weight: 700;
}

.frm {
    background-color: #8E097C;
    height: 930px;
    width: 625px;
    margin-bottom: 15px;
    margin-right: 15px;
}

.dtop {
    height: auto;
    width: auto;
}

.dmiddle {
    height: auto;
    width: auto;
    margin-left: 1px;
}

.dbottom {
    height: auto;
    width: auto;
    margin-left: 10px;
}

form {
    direction: rtl;
    margin-top: 50px;
}

.box {
    display: flex;
    flex-direction: column;
}

.box div {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

input {
    background-color: #E5EEFF;
    height: 50px;
    width: 450px;
    border: 0;
    border-bottom: 5px solid #0EE1DA;
    margin-bottom: 20px;
}

textarea {
    background-color: #E5EEFF;
    height: 200px;
    width: 450px;
    border: 0;
    border-bottom: 5px solid #0EE1DA;
    resize: none;
}

label {
    font-family: Heebo;
    color: #0EE1DA;
    font-size: 18px;
    font-weight: 700;
}

.btn {
    background-color: #0EE1DA;
    color: #011560;
    font-family: Heebo;
    font-weight: 700;
    font-size: 20px;
    height: 60px;
    width: 450px;
    border: 0;
    border-radius: 0;
}

.btn:hover {
    background-color: #00fff7;
}

@media (max-width:576px) {
    img {
        width: 160px;
        height: 160px;
        margin-bottom: 15px;

    }

    .stop {
        margin-top: 0;
    }

    .dmiddle {
        margin: 0;
    }

    .dbottom {
        margin: 0;
    }

    h1 {
        font-size: 35px;
        margin-top: 20px;
    }

    p {
        font-size: 16px;
    }

    .imgtop1 {
        margin-top: 20px;
    }

    .imgtop2 {
        margin-top: 20px;
    }

    .heading {
        height: 300px;
        width: 100vw;
        margin: 0;
    }

    .imgbot1 {
        margin-top: 10px;
    }

    .imgbot2 {
        margin-top: 10px;
    }

    .frm {
        background-color: #8E097C;
        height: 650px;
        width: 345px;
        margin: 0;
    }

    h2 {
        margin-top: 25px;
    }

    .frm p {
        margin: 0;
        padding: 10px;
        font-size: 14px;
    }

    form {
        margin: 30px;
    }

    input {
        height: 45px;
        width: 300px;
        margin-bottom: 20px;
    }

    textarea {
        width: 300px;
        height: 120px;
    }

    label {
        font-size: 16px;
    }

    .btn {
        width: 300px;
        height: 45px;
        font-size: 16px;
    }

}